/*Header*/
.container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.container h1{
  text-align: center;
}

#title-container{
  background-image: url("http://www.newell-fonda.k12.ia.us/wp-content/uploads/2016/01/opera-background-light-blue-facebook-cover-00435.jpg");
}
/*End header*/

/*buttons*/
.btn{
  background: #3498db;
  padding: 5px;
  width: 150px;
  height: 100px;
  margin-top: 10px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

#hide-button{
  background: #3498db;
  padding: 5px;
  width: 75px;
  height: 35px;
  margin-top: 10px;
  color: white;
  font-size: 1.25em;
  text-align: center;
}

#hide-contact-button{
  background: #3498db;
  padding: 5px;
  width: 100px;
  height: 60px;
  margin-top: 10px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
/*end buttons*/




/*contact display*/
.display-contact{
  border: 1px solid black;
  border-radius:5px;
  width:50%;
  margin:auto;
}

.display-contact-inner{
  margin:5px;
  padding:5px;
}
/*end contact display*/

/*input forms*/
#default-form{
  background: rgba(200, 200, 200, 0.4);
  border: 1px solid rgba(150, 150, 150, 0.5);
  border-radius: 4px;
  margin: 50px auto 0;
  padding: 10px;
  width: 240px;
}

#default-form{
  background: rgba(200, 200, 200, 0.6);
}

input {
  display: block;
  font-size: 20px;
  margin: 5px auto;
  padding: 10px;
}

input {
  opacity: 0.5;
}

input:hover,
input:focus {
  opacity: 1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
}

input[type="submit"] {
  appearance: none;
  background: linear-gradient(#58f, #37f 70%, #46f);
  border: 1px solid #33f;
  border-radius: 4px;
  color: #eee;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: linear-gradient(#79f, #37f 70%, #46f);
}

/*end input forms*/
