/*Header*/
.container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.container h1{
  text-align: center;
}

#title-container{
  background-image: url("http://www.newell-fonda.k12.ia.us/wp-content/uploads/2016/01/opera-background-light-blue-facebook-cover-00435.jpg");
}
/*End header*/

/*buttons*/
.btn{
  background: #3498db;
  padding: 5px;
  width: 150px;
  height: 100px;
  margin-top: 10px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

#hide-button{
  background: #3498db;
  padding: 5px;
  width: 100px;
  height: 60px;
  margin-top: 10px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
/*end buttons*/


/*new contact form*/
.contact-form{

}
/*end new contact form*/
