
<div class="container" id="title-container">
  <h1 class="title">Contact List</h1>
</div>
<div class="container">
  <div id="btn-list">
    <form>
      <button type="button" class="btn btn-raised btn-primary" id="list-btn">List</button>
    </form>
  </div>
  <div id="btn-number">
    <form>
      <button type="button" class="btn btn-raised btn-primary">Number</button>
    </form>
  </div>
  <div id="btn-new">
      <button type="button" class="btn btn-raised btn-primary">New</button>
  </div>
  <div id="btn-show">
    <form>
      <button type="button" class="btn btn-raised btn-primary">Show</button>
    </form>
  </div>
  <div id="btn-update">
    <form>
      <button type="button" class="btn btn-raised btn-primary">Update</button>
    </form>
  </div>
  <div id="btn-destroy">
    <form>
      <button type="button" class="btn btn-raised btn-primary" id="destroy-btn">Destroy</button>
    </form>
  </div>
</div>




<form class="new-contact-form" id = "default-form-new" action="/contact/new" method="post">
    <input id="first_name" type="text" name="first" placeholder="First Name"><br>
    <input id="last_name" type="text" name="last" placeholder="Last Name"><br>
    <input id="number" type="text" name="number" placeholder="Phone Number"><br>
    <input id="email" type="text" name="email" placeholder="Email"><br>
    <input type="submit" value="Submit">
</form>



<form class="show-contact-form" id = "default-form-show" action="/contact/show" method="post">
    <input id="contact_id" type="text" name="contact_id" placeholder="Contact ID"><br>
    <input type="submit" value="Submit">
</form>

<form class="delete-contact-form" id = "default-form-delete" action="/contact/destroy" method="get">
    <input id="contact_id" type="text" name="contact_id" placeholder="Contact ID"><br>
    <input type="submit" value="Submit">
</form>

<form class="number-contact-form" id="default-form-number" action="/contact/add_number" method="post">
  <input id="contact_id" type="text" name="contact_id" placeholder="Contact ID"><br>
  <input id="number" type="text" name="new_number" placeholder="Add Number"><br>
  <input type="submit" value="Submit">
</form>


<div class="bottom-div">
</div>

<script id="show-template" type="text/x-handlebars-template">
  <div class="display-contact">
    <div class="display-contact-inner">
    <h2 id="contact-name">{{first_name}} {{last_name}}</h2>
    <p id="contact-email">Email: {{email}}</p>
    <p id="contact-primary">Primary #: {{number}}</p>
    <button type="button" class="btn btn-raised btn-primary" id="hide-contact-button">Hide</button>
    </div>
  </div>
</script>

<script id="list-template" type="text/x-handlebars-template">
  <div class="display-contact">
    <div class="display-contact-inner">
      <h2 id="contact-name">{{first_name}} {{last_name}}</h2>
      <p id="contact-email">Email: {{email}}</p>
      <p id="contact-primary">Primary #: {{number}}</p>
    </div>
  </div>
</script>

<script>
var num_list_calls = 0;
$('.new-contact-form').hide();
$('.show-contact-form').hide();
$('.delete-contact-form').hide();
$('.display-contact').hide();
$('.bottom-div').hide();
$('.number-contact-form').hide();


function contactFormNew(path_url){
  $('.new-contact-form').slideToggle();
  $('.new-contact-form').on('submit', function(event) {
    event.preventDefault();
    var input_form = document.getElementById("default-form-new");
    var num_elements = input_form.elements.length;
    input_data = [];
    for (var i = 0; i < num_elements-1; i++){
      input_data.push(input_form.elements[i].value);
    }
    $.ajax({
      url: path_url,
      type: 'POST',
      data: {form_data: input_data},
    }).done(function(response_data) {
      $('.new-contact-form').slideUp();
    })
  })
}

function contactFormUpdate(path_url, id){
  $('.new-contact-form').slideToggle();
  $('.new-contact-form').on('submit', function(event) {
    event.preventDefault();
    var input_form = document.getElementById("default-form-new");
    var num_elements = input_form.elements.length;
    input_data = [];
    for (var i = 0; i < num_elements-1; i++){
      input_data.push(input_form.elements[i].value);
    }
    $.ajax({
      url: path_url,
      type: 'POST',
      data: {form_data: input_data, contact_id: id}
    }).done(function(response_data) {
      $('.new-contact-form').slideUp();
      // SOMECOMMANDTOSHOWTHENEWCONTACT
    })
  })
}

$("#btn-new").on('click', function(e) {
  contactFormNew('/contact/new')
});

$("#btn-show").on('click', function(e) {
  $('.bottom-div').empty();
  $('.show-contact-form').slideToggle();
  $('.show-contact-form').on('submit', function(event) {
    event.preventDefault();
    var input_form = document.getElementById("default-form-show");
    var num_elements = input_form.elements.length;
    input_data = input_form.elements[0].value;
    $.ajax({
      url: $(this).attr('action'),
      type: 'GET',
      data: {form_data: input_data},
    }).done(function(response_data) {
      var source = $("#show-template").html();
      var template = Handlebars.compile(source);
      var context = {first_name: response_data.contact.first_name, last_name: response_data.contact.last_name, number: response_data.numbers[0].phone_number, email: response_data.contact.email};
      var html = template(context);
      $('.bottom-div').append(html);
      $('.show-contact-form').slideUp();
      $('.bottom-div').slideDown();
    });
  });
});

$("#btn-update").on('click', function(e) {
  $('.show-contact-form').slideToggle();
  $('.show-contact-form').on('submit', function(event) {
    event.preventDefault();
    var input_form = document.getElementById("default-form-show");
    input_data = input_form.elements[0].value;
    $.ajax({
      url: $(this).attr('action'),
      type: 'GET',
      data: {form_data: input_data},
    }).done(function(response_data) {
      $('.show-contact-form').slideUp();
      var path_url = '/contact/update';
      contactFormUpdate(path_url, response_data.contact.id);
    })
  });
});


$("#btn-list").on('click', function(e) {
  if (num_list_calls%2==0){
    $('.bottom-div').slideDown(); //
  }
  else{
    $('.bottom-div').slideUp(); //
  }
  num_list_calls += 1;
  $.ajax({
    url: '/contacts/all',
    type: 'GET'
  }).done(function(response_data) {
    for (var i = 0; i < response_data.contacts.length; i++){
      var source   = $("#list-template").html();
      var template = Handlebars.compile(source);
      var context = {first_name: response_data.contacts[i].first_name, last_name: response_data.contacts[i].last_name, number: response_data.numbers[i].phone_number, email: response_data.contacts[i].email};
      var html = template(context);
      $('.bottom-div').append(html); 
    }
  })
});

$('#btn-destroy').on('click', function(e){
  $('.delete-contact-form').slideToggle();
  $('.delete-contact-form').on('submit', function(event) {
    var input_form = document.getElementById("delete-contact-form");
    input_data = input_form.elements[0].value;
    $.ajax({
      url: $(this).attr('action'),
      type: 'GET',
      data: {form_data: input_data},
    }).done(function(response_data){
      $('.delete-contact-form').slideUp();
    })
  })
// PROPER PATHS FOR DESTROY AND WHATNOT
})

$('#btn-number').on('click', function(e){
  $('.number-contact-form').slideToggle();
  $('.number-contact-form').on('submit', function(event){
    var input_form = document.getElementById("number-contact-form");
    var num_elements = input_form.elements.length;
    input_data = [];
    for (var i = 0; i < num_elements-1; i++){
      input_data.push(input_form.elements[i].value);
    }
    $.ajax({
      url: $(this).attr('action'),
      type: 'POST',
      data: {form_data: input_data},
    }).done(function(response_data){
      $('.number-contact-form').slideUp();
    })
  })
})

$(document).on("click", "#hide-contact-button", function(){
  $('.bottom-div').slideUp();
})

</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>
