<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Bootstrap Core jQuery -->
  <!-- Custom Fonts -->

  <!-- Plugin CSS -->

  <!-- Custom CSS -->

<!--
  application.css is where you put your styles
-->



 <link rel="stylesheet" href="/stylesheets/application.css">
 <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
 <script src="/javascript/application.js"></script>
  <title></title>
</head>
<body>
  <%= yield %>
</body>
</html>
